*,
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class$='-cl'] {
  float: left;
  padding: 1.2%;
  margin-left: 0.25%;
  margin-right: 0.25%;
}
[class$='-cl']:last-of-type {
  float: right;
  padding-right: 1.2%;
  margin-left: 0.25%;
  margin-right: 0;
}
[class$='-cl']:first-of-type {
  margin-left: 0;
  margin-right: 0.25%;
}
.rw:after {
  display: table;
  clear: both;
  content: '';
}
.rw {
  width: 100%;
  max-width: 1440px;
}
.one-cl {
  width: 99.5%;
}
.two-cl {
  width: 49.5%;
}
.three-cl {
  width: 32.833333333333336%;
}
.four-cl {
  width: 24.5%;
}
.five-cl {
  width: 19.5%;
}
.six-cl {
  width: 16.166666666666668%;
}
.seven-cl {
  width: 13.785714285714286%;
}
.eight-cl {
  width: 12%;
}
.nine-cl {
  width: 10.61111111111111%;
}
.ten-cl {
  width: 9.5%;
}
.eleven-cl {
  width: 8.590909090909092%;
}
.twelve-cl {
  width: 7.833333333333334%;
}
@media only screen and (max-width: 767px) {
  [class$='-cl'] {
    width: 100%;
  }
}
body {
  background-image: url("../images/deep_space_nebula_by_hameed.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  font-family: sans-serif;
  font-weight: 100;
  text-align: center;
}
[class$='-cl'] {
  background-color: #434343;
  color: #86868c;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: 4px solid rgba(248,248,255,0.67);
  -webkit-box-shadow: 0 0 20px 0 #f8f8ff;
  box-shadow: 0 0 20px 0 #f8f8ff;
}
.demo-title-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.demo-generic-container {
  width: 90%;
  max-width: 1240px;
  margin: 1% auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.demo-generic-container .rw {
  margin: 20px 0 20px 0;
}
.demo-hdln {
  text-transform: uppercase;
  font-weight: 100;
  color: #313131;
  letter-spacing: 0.4em;
}
.demo-title {
  margin-bottom: 40px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 20px 0 #0ff;
  box-shadow: 0 0 20px 0 #0ff;
  border: 0;
  background-color: #272727;
}
.demo-text {
  font-size: 0.8em;
}
