body
  background-color: #454545
  font-family: sans-serif
  font-weight: 100
  text-align: center
.generic-container
  width: 90%
  max-width: 1240px
  margin: 1% auto
[class$='-cl']
  background-color: #434343
  color: #86868C
  border-radius: 25px
  border: 4px solid #454545
.demo-hdln
  font-weight: 100
  color: #313131
  letter-spacing: 0.4em
.title
  margin-bottom: 40px
  border-radius: 60px
  background-color: #272727
